ai:
  platform:
    gemini:
      api_key: '%env(GEMINI_API_KEY)%'
    openai:
      api_key: '%env(OPENAI_API_KEY)%'
    anthropic:
      api_key: '%env(CLAUD_API_KEY)%'

  vectorizer:
    knowledge_embeddings:
      platform: 'ai.platform.gemini'
      model:
        name: 'text-embedding-004'
        options:
          dimensions: 768
 
  

  agent:
    #   personal_assistent:
    personal_assistent:
      platform: 'ai.platform.gemini'
      model: 'gemini-2.5-flash'
      track_token_usage: true
      prompt:
        file: '%kernel.project_dir%/config/prompts/file_personal_assistent_prompt.txt'
        include_tools: true
      tools: 
        #- 'App\Tool\CodeSaverTool'                       # nur für Code-Generierung
        #- 'App\Tool\KnowledgeIndexerTool'                # nur für Code-Generierung
        #- 'App\Tool\AnalyzeCodeTool'                     # nur für Code-Generierung
        #- 'App\Tool\SandboxExecutorTool'                 # nur für Code-Generierung
        #- 'App\Tool\DeployGeneratedCodeTool'             # nur für Code-Generierung
        - 'App\Tool\WebScraperTool'
        - 'App\Tool\ApiClientTool'
        - 'App\Tool\ToolRequestor'
        - 'App\Tool\PdfGenerator'
        - 'App\Tool\MySQLKnowledgeSearchTool'
        - 'App\Tool\GoogleCalendarCreateEventTool'
        - 'App\Tool\JobSearchTool'
        - 'App\Tool\SendMailTool'
        - 'App\Tool\UserDocumentReadTool'
        - 'App\Tool\UserDocumentListTool'
        - 'App\Tool\UserDocumentSearchTool'
        - 'App\Tool\UserDocumentMetadataTool'
        - 'App\Tool\CompanyCareerContactFinderTool'                
        - 'App\Tool\GoogleSearchTool' 
        - 'App\Tool\InformationExtractorTool' 
        #- 'App\Tool\ReceiveMailTool'                   #zum Testen deaktiviert 
        #- 'App\Tool\UserKnowledgeSearchTool'           #zum Testen deaktiviert
        #- 'App\Tool\AddUserKnowledgeTool'              #zum Testen deaktiviert  
                     
        #- 'App\Tool\BatchPdfGenerator'                 #zum Testen deaktiviert

       
      fault_tolerant_toolbox: true
      ### Alternative LLM Configurations for the File Generator Agent openAi ###
    personal_assistent_fallback:
      platform: 'ai.platform.gemini'
      model: 'gemini-2.5-flash-lite'
      track_token_usage: true
      prompt:
        file: '%kernel.project_dir%/config/prompts/file_personal_assistent_prompt.txt'
        include_tools: true
      tools: 
        #- 'App\Tool\CodeSaverTool'                       # nur für Code-Generierung
        #- 'App\Tool\KnowledgeIndexerTool'                # nur für Code-Generierung
        #- 'App\Tool\AnalyzeCodeTool'                     # nur für Code-Generierung
        #- 'App\Tool\SandboxExecutorTool'                 # nur für Code-Generierung
        #- 'App\Tool\DeployGeneratedCodeTool'             # nur für Code-Generierung
        - 'App\Tool\WebScraperTool'
        - 'App\Tool\ApiClientTool'
        - 'App\Tool\ToolRequestor'
        - 'App\Tool\PdfGenerator'
        - 'App\Tool\MySQLKnowledgeSearchTool'
        - 'App\Tool\GoogleCalendarCreateEventTool'
        - 'App\Tool\JobSearchTool'
        - 'App\Tool\SendMailTool'
        - 'App\Tool\CompanyCareerContactFinderTool'                
        - 'App\Tool\GoogleSearchTool'                
        #- 'App\Tool\ReceiveMailTool'                   #zum Testen deaktiviert
        #- 'App\Tool\UserKnowledgeSearchTool'           #zum Testen deaktiviert
        #- 'App\Tool\AddUserKnowledgeTool'              #zum Testen deaktiviert  
        #- 'App\Tool\BatchPdfGenerator'                 #zum Testen deaktiviert
        

       
      fault_tolerant_toolbox: true
      ### Alternative LLM Configurations for the File Generator Agent openAi ###
    frontend_generator:
      platform: 'ai.platform.gemini'
      model: 'gemini-2.5-flash'
      track_token_usage: true
      prompt:
        file: '%kernel.project_dir%/config/prompts/frontend_dev_prompt.txt'
        include_tools: true
      tools:
        - 'App\Tool\CodeSaverTool'
        - 'App\Tool\KnowledgeIndexerTool'
        - 'App\Tool\AnalyzeCodeTool'
        - 'App\Tool\SandboxExecutorTool'
        - 'App\Tool\DeployGeneratedCodeTool'
        - 'App\Tool\WebScraperTool'
        - 'App\Tool\ApiClientTool'



