knpu_oauth2_client:
    clients:
        google:
            type: google
            client_id: '%env(OAUTH_GOOGLE_CLIENT_ID)%'
            client_secret: '%env(OAUTH_GOOGLE_CLIENT_SECRET)%'
            redirect_route: connect_google_check
            redirect_params: {}
            # optional, um Refresh-Token zu bekommen:
            access_type: offline
            
            # du kannst auch `prompt: consent` setzen, damit der consent immer neu angefragt wird
            # extra auth params:
            #   prompt: 'consent'
