# Symfony / Composer / PHP
/vendor/
/var/
/bin/
/frontend/
/generated_code/
/generated_data/
knowledge_base/*
!knowledge_base/
migrations/*
!migrations/
/.env.local
.env.dev
.env.test.local
.env.test
.env
.phpunit.result.cache
/public/bundles/
/public/uploads/*
!public/uploads/
/public/swagger-ui/
/config/jwt/private.pem
/config/jwt/public.pem

# Cache / Logs
/var/cache/
/var/log/
/var/tmp/
/*.log

# Coverage
coverage/

# Node.js
/node_modules/
/npm-debug.log
yarn-error.log

# Docker
.docker/
docker-compose.override.yml
docker-compose.override.yaml

# IDE / Editor
*.swp
*.swo
.idea/
.vscode/
*.iml

# MacOS / Windows
.DS_Store
Thumbs.db

