# Diese Datei ist der Einstiegspunkt für deine Service-Konfiguration
# Dateien im packages/ Unterverzeichnis konfigurieren deine Abhängigkeiten

parameters:
    app.upload_directory: '%kernel.project_dir%/public/uploads'
    app.api_url: 'http://127.0.0.1:8000'

services:
    # Standardkonfiguration für Services in dieser Datei
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $appEnv: '%kernel.environment%'
    
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../tests/'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # PasswordService mit konfigurierbarer Frontend-URL
    App\Service\PasswordService:
        arguments:
            $frontendUrl: '%env(FRONTEND_URL)%'

    # JWT Authenticator
    App\Security\JwtTokenAuthenticator:
        arguments:
            $jwtManager: '@Lexik\Bundle\JWTAuthenticationBundle\Services\JWTTokenManagerInterface'
            $userProvider: '@security.user.provider.concrete.app_user_provider'
   